# Dependencies
node_modules/

# Environment variables
.env
.env.test

# Build outputs
web/static/css/output.css

# Temp files
/tmp/
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tailwindcss binary
tailwind
