// /internal/backend/templates/layout/main_content.templ
package layout

templ MainContent() {
    <main>
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
            <div class="rounded-lg bg-white px-5 py-6 shadow-sm sm:px-6" id="main-content">
                { children... }
            </div>
        </div>
    </main>
}