// /internal/backend/templates/layout/navigation_logo.templ
package layout

templ NavigationLogo() {
    <div class="flex items-center px-2 lg:px-0">
        <div class="shrink-0">
            <img class="block size-8" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=300" alt="Admin Panel"/>
        </div>
    </div>
}